.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.character-input{
    margin-top: 30px;
    display: flex;
    width: 100%;
    border: 1px solid cornflowerblue;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 17px;
    background-color:#FBE7C6;
}

.characters-list{
    width: 100%;
}

.characters-list ul{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    list-style: none;
    grid-gap: 1.5rem;
    padding-left: 0;
}

.characters-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: cornflowerblue;
    background-color: #FFF;
}

.characters-list img{
    width: 400px;
    max-height: 350px;
    max-width: 100%;
    border-radius: 5px;
}

.characters-list strong{
    color: black;
    padding: 10px;
    text-align: center;
}

.pagination-container {
  align-content: center;
}

.pagination {
    display: flex;
    list-style: none;
    width: 100%;
    padding-left: 0;
    font-size: .8em;
}

.pagination li + li {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.pagination li a{
    border: 0;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

.pagination li a:hover{
    background-color: #FFF;
    color:black;
}

.pagination li.selected a{
    background-color: black;
    color:#FFF;
}

