.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.character-input{
    margin-top: 20px;
    display: flex;
    width: 800px;
    flex: 1;
    border: 1px solid cornflowerblue;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 17px;
}

.characters-list{
    margin: 15px;
}

.characters-list ul{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    list-style: none;
    grid-gap: 1.5rem;
}

.characters-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.characters-list img{
    width: 500px;
    max-height: 350px;
    max-width: 100%;
}

.characters-list strong{
    color: #FFF;
    background-color: cornflowerblue;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

